[submodule "wp-content/themes/menos"]
	path = wp-content/themes/menos
	url = https://github.com/smededwards/menos
[submodule "wp-content/plugins/mais"]
	path = wp-content/plugins/mais
	url = https://github.com/smededwards/mais
